.map {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
}
.container-component {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.sidebar {
    position: absolute;
    right: 0;
    z-index: 2;
}

.toggleButton {
    position: absolute;
    left: -60px;
    top: 10px;
}

#popupScroll {
    max-height: 150px;
    overflow: auto;
}
